<div class="container">
  <div class="row">
    <div class="col-12">
      <form (ngSubmit)="save()" [formGroup]="customerForm">

        <div class="form-group">
          <label for="firstNameId">First Name</label>
          <input type="text" id="firstNameId" class="form-control" placeholder="First Name .." formControlName="firstName">
          <div *ngIf="customerForm.get('firstName').touched && customerForm.get('firstName').errors">
            <span class="alert alert-warning">
              First name is required! :)
            </span>
          </div>
        </div>

        <div class="form-group">
          <label for="lastNameId">Last Name</label>
          <input type="text" id="lastNameId" class="form-control" placeholder="Last Name .." formControlName="lastName">
          <div *ngIf="customerForm.get('lastName').touched && customerForm.get('lastName').errors">
            <span class="alert alert-warning">
              Last name is required! :)
            </span>
          </div>
        </div>

        <div formGroupName="emailGroup">
          <div class="form-group">
            <label for="emailId">Email</label>
            <input type="email" id="emailId" class="form-control" placeholder="email .." formControlName="email">
            <div *ngIf="emailMessage">
              <span class="alert alert-warning">
                {{ emailMessage }}
              </span>
            </div>
          </div>

          <div class="form-group">
            <label for="confirmEmailId">Confirm Email</label>
            <input type="email" id="confirmEmailId" class="form-control" placeholder="repeat email .." formControlName="confirmEmail">
            <div *ngIf="customerForm.get('emailGroup.confirmEmail').touched && customerForm.get('emailGroup.confirmEmail').errors">
              <span class="alert alert-warning">
                Repeated email is required! :)
              </span>
            </div>
            <div *ngIf="customerForm.get('emailGroup.confirmEmail').touched && customerForm.get('emailGroup').errors?.match">
              <span class="alert alert-warning">
                Emails do not match. :)
              </span>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="phoneId">Phone</label>
          <input type="text" id="phoneId" class="form-control" placeholder="Phone number .." formControlName="phone">
          <div *ngIf="customerForm.get('phone').touched && customerForm.get('phone').errors">
            <span class="alert alert-warning">
              Last name is required! :)
            </span>
          </div>
        </div>

        <div class="form-check">
          <input class="form-check-input" type="radio" id="notifyEmailId" formControlName="notify" value="email">
          <label class="form-check-label" for="notifyEmailId">Notify by email</label>
        </div>

        <div class="form-check">
          <input class="form-check-input" type="radio" id="notifyPhoneId" formControlName="notify" value="text">
          <label class="form-check-label" for="notifyPhoneId">Notify by text</label>
        </div>

        <div class="form-group">
          <label for="ratingId">Rating</label>
          <input type="number" id="ratingId" class="form-control" formControlName="rating">
          <div *ngIf="customerForm.get('rating').touched && customerForm.get('rating').errors">
            <span class="alert alert-warning" *ngIf="customerForm.get('rating').errors.range">
              Rating is from 1- 5
            </span>
          </div>
        </div>

        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="showCatalogId" formControlName="showCatalog">
          <label class="form-check-label" for="showCatalogId">Show catalog</label>
        </div>

        <div *ngIf="customerForm.get('showCatalog').value">
          <div formGroupName="addresses">

            <div class="form-check">
              <input class="form-check-input" type="radio" id="" formControlName="addressType" value="home">
              <label class="form-check-label" for="">Address home</label>
            </div>

            <div class="form-check">
              <input class="form-check-input" type="radio" id="" formControlName="addressType" value="work">
              <label class="form-check-label" for="">Address work</label>
            </div>

            <div class="form-check">
              <input class="form-check-input" type="radio" id="" formControlName="addressType" value="other">
              <label class="form-check-label" for="">Address other</label>
            </div>

            <div class="form-group">
              <label for="">Street 1</label>
              <input class="form-control" type="text" id="" formControlName="street1">
            </div>

            <div class="form-group">
              <label for="">Street 2</label>
              <input class="form-control" type="text" id="" formControlName="street2">
            </div>

            <div class="form-group">
              <label for="">Zip code</label>
              <input class="form-control" type="text" id="" formControlName="zip">
            </div>
          </div>
        </div>

        <input type="submit" value="Save" class="btn btn-primary" [disabled]="customerForm.invalid">
      </form>
      {{ customerForm.value | json }}
      <!-- <br> -->
      <!-- {{ customerForm.get('emailGroup').errors | json }} -->
    </div>
  </div>
</div>
